a {
  text-decoration: none;
  color: black;
}

ul {
  font-weight: bold;
}

.hi {
  font-size: 70px;
  color: white;
}

.about-words {
  font-weight: bold;
  text-align: left;
}

.about-link {
  text-decoration: none;
}

.about-link:hover {
  transform: scale(1.01);
  text-decoration: underline;
}

.profile {
  width: 350px;
  height: auto;
  border-radius: 30px;
}

.profile-wrapper {
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(269.38deg, 
  rgba(179, 170, 232, 0.66) 0.26%, 
  rgba(255, 255, 255, 0.66) 119.16%);
  padding: 2%;
}

.about-container {
  display: flex;
}

.about-bottom {
  display: flex;
}

.about-top {
  background: linear-gradient(269.95deg, #490ACF -5.28%, 
  rgba(123, 75, 239, 0.863616) 48.19%, 
  rgba(179, 170, 232, 0.66) 99.99%);
  text-align: center;
  padding: 40px;
}

.about-me {
  padding-left: 3%;
  padding-top: 3%;
}

.contact {
  margin-top: 30px;
}

.contact-list {
  list-style-type: none;
}

.fun-facts {
  background-color: #FAF1FF;
  margin: 15px;
  padding: 4%;
  border-radius: 30px;
}

@media only screen and (max-width: 700px) {
  .about-container { 
    display: flex;
    flex-direction: column;
  }

  .about-bottom {
    display: flex;
    flex-direction: column;
  }

  .profile-wrapper {
    padding: 20px;
  }

  .profile {
    width: 250px;
    height: auto;
  }

  .fun-facts {
    padding: 7%;
    margin: 15px;
  }
}