.about-photos {
  background: #FAF1FF;
  padding: 10px;
  align-items: center;
}

h2 {
  text-align: center;
  padding: 20px;
  font-family: 'Londrina Shadow', cursive;
  font-weight: bold;
  font-size: 30px;
}

.photo-gallery {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.nature-photo { 
  margin: 4px;
  padding: 1px;
  border: 5px solid rgb(100, 99, 99);
}

@media only screen and (max-width: 550px) {
  .react-responsive-modal-modal {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .nature-photo {
    width: 250px;
  }

}
